:root {
  --ghost-white: #f4f4f9;
  --glacious-blue: #7681b3;
  --glacious: #647aa3;
  --black: #050401;
  --Eerie-black: #1a1d1a;
  --cloumbia-blue: #cad8de;
  --light-gray: #e4e3e5;
  --green: #33c948;
  --yellow: #fdbc3d;
  --red: #f96256;
  --off-white: #f7f7f7;
  --oxford-blue: #0e1c36;
  --space-cadet: #171738;
  --rose-quartz: #aaa1c8;
  --Thistle: #d5c6e0;
  --mountbatten-pink: #967aa1;
  --ultra-violet: #4b4e6d;
  --powder-blue: #94b0da;
  --cadet-gray: #88a0a8;
}

.hero-container,
.code-snippet-wrapper {
  background-repeat: no-repeat;
}

.hero-container {
  background-image: url(/src/assets/blobs/purple-blob.png);
}

.hero-body {
  padding: 2em;
}

.hero-wrapper p {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 1em;
}

.role {
  font-weight: 800;
  letter-spacing: 1px;
  border-bottom: 8px solid var(--cloumbia-blue);
}

.code-snippet-wrapper {
  background-image: url(../assets/blobs/blue-dark-blob.png);
  padding-bottom: 5em;
}

.hero-wrapper img {
  max-width: 100%;
}

@media (min-width: 500px) {
  .hero-body {
    padding: 2.5em 4em;
  }

  .hero-body h2 {
    font-size: 2.3em;
  }

  .hero-body p {
    font-size: 1.5em;
    width: 90%;
  }

  .code-snippet-wrapper {
    background-image: none;
  }
}

@media (min-width: 700px) {
  .hero-wrapper {
    background-image: url(/src/assets/blobs/glacious-blob.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-body {
    padding-top: 0;
    padding-top: 1em;
  }

  .hero-body h2 {
    font-size: 3.2em;
  }

  .hero-body p {
    font-size: 1.5em;
  }
}

@media (min-width: 1000px) {
  .hero-wrapper {
    display: flex;
    background-image: url(/src/assets/blobs/glacious-blob.svg);
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .hero-body {
    padding-top: 1.5em;
  }

  .hero-body h2 {
    font-size: 3.5em;
  }

  .hero-body p {
    font-size: 1.7em;
    width: 80%;
  }
}
