:root {
  --ghost-white: #f4f4f9;
  --glacious-blue: #7681b3;
  --glacious: #647aa3;
  --black: #050401;
  --Eerie-black: #1A1D1A;
  --cloumbia-blue: #cad8de;
  --light-gray: #e4e3e5;
  --green: #33c948;
  --yellow: #fdbc3d;
  --red: #f96256;
  --off-white: #f7f7f7;
  --oxford-blue: #0e1c36;
  --space-cadet: #171738;
  --rose-quartz: #aaa1c8;
  --Thistle: #D5C6E0;
  --mountbatten-pink: #967aa1;
  --ultra-violet: #4b4e6d;
  --powder-blue: #94b0da;
  --cadet-gray: #88a0a8;
}

.hero-body {
    padding: 2em;
}

.hero-wrapper p {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 1em;
}

.role {
  font-weight: 800;
  letter-spacing: 1px;
  border-bottom: 8px solid var(--cloumbia-blue);
}

.code-snippet-wrapper {
    /*margin-top: 1em;*/
    background-image: url(../assets/blobs/blue-dark-blob.png);
    background-repeat: no-repeat;
}

.hero-wrapper img {
    max-width: 100%;
}

@media (min-width: 500px) {
  .hero-body {
    padding: 2.5em 4em;
    /*background-image: url(../assets/blobs/purple-blob.png);
    background-repeat: no-repeat;
    border: 1px solid var(--glacious);
    padding-bottom: 6em;*/
  }

  .code-snippet-wrapper {
    background-image: none;
}
}

/*@media (min-width: 700px) {
  .hero-wrapper {
    display: flex;
    align-items: center;
  }
}*/
