:root {
  --ghost-white: #f4f4f9;
  --glacious-blue: #7681b3;
  --black: #050401;
  --cloumbia-blue: #cad8de;
  --light-gray: #e4e3e5;
  --green: #33c948;
  --yellow: #fdbc3d;
  --red: #f96256;
  --off-white: #f7f7f7;
  --oxford-blue: #0e1c36;
  --space-cadet: #171738;
  --rose-quartz: #aaa1c8;
}

.hero {
    background-image: url(../assets/blob-haikei.png);
    /*background-image: url(../assets/blue-haikei.png);*/
    background-repeat: no-repeat;
}

.hero-body {
    padding: 2em;
}

.hero-wrapper p {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 1em;
}

.role {
  font-weight: 800;
  letter-spacing: 1px;
  border-bottom: 8px solid #cad8de;
}

.code-snippet-wrapper {
    margin-top: 1em;
}

.hero-wrapper img {
    max-width: 100%;
}

@media (min-width: 500px) {
  .hero-wrapper {
    padding: 2.5em 4em;
  }
}

/*@media (min-width: 700px) {
  .hero-wrapper {
    display: flex;
    align-items: center;
  }
}*/
