:root {
  --ghost-white: #f4f4f9;
  --glacious-blue: #7681b3;
  --glacious: #647aa3;
  --black: #050401;
  --Eerie-black: #1a1d1a;
  --cloumbia-blue: #cad8de;
  --light-gray: #e4e3e5;
  --off-white: #f7f7f7;
  --oxford-blue: #0e1c36;
  --space-cadet: #171738;
  --rose-quartz: #aaa1c8;
  --Thistle: #d5c6e0;
  --mountbatten-pink: #967aa1;
  --ultra-violet: #4b4e6d;
  --powder-blue: #94b0da;
  --cadet-gray: #88a0a8;
}

.projects {
  margin-top: 7em;
}

.projects-wrapper {
  padding: 2em;
  padding-top: 0;
  background-image: url(/src/assets/blobs/purple-blob.png);
  background-repeat: no-repeat;
}

.projects-wrapper h2 {
  width: 150px;
  padding-top: 0.5em;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.projects-line {
  content: "";
  border-top: 4px solid var(--space-cadet);
  width: 150px;
  margin-left: 70px;
  display: block;
}

.projects-wrapper p {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 1em;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project-container {
  margin-top: 2em;
}
/*#DCCCFF*/
.project-img-container {
  transition: transform 0.2s ease;
}

.project-container img {
  width: 100%;
  border-radius: 15px;
}

.project-img-container:hover img {
  transform: scale(1.1);
}

.project-info {
  padding: 0.5em;
}

.project-category {
  font-size: 1.1em;
  margin-top: 1em;
  font-weight: 400;
  color: var(--cadet-gray);
  margin-bottom: 0.5em;
}

.project-title {
  font-weight: 800;
}

.links {
  margin-top: 1em;
  cursor: pointer;
}

.links a {
  display: block;
  font-weight: 700;
  padding-right: 1em;
  width: 200px;
  margin-bottom: 1em;
  color: inherit;
  text-decoration: none;
}

.right-icon {
  padding-left: 0.5em;
}

@media (min-width: 600px) {
  .projects-container {
    align-items: center;
  }
}

@media (min-width: 700px) {
  .projects-wrapper h2 {
    padding-left: 1em;
  }

  .description {
    padding-left: 2.5em;
    padding-top: 0;
  }

  .projects-container {
    padding: 0 2em;
  }

  .project-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
  }

  .project-info {
    padding-top: 0;
  }

  .project-category {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .project-container {
    width: 80%;
  }

  .project-img-container {
    width: 50%;
  }

  .project-category {
    font-size: 1em;
  }
}
